<%- include('partials/Header') %>

<main>
  <h1>Welcome to Our Home Page</h1>
  <p>
    This is the homepage of a beautiful website. Explore the other pages to know
    more!
  </p>
</main>

<%- include('partials/Footer') %>
