<!-- Header Section -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>"
              >Home</a
            >
          </li>
          <li>
            <a
              href="/aboutus"
              class="<%= currentPage === 'aboutus' ? 'active' : '' %>"
              >About Us</a
            >
          </li>
          <li>
            <a
              href="/contactus"
              class="<%= currentPage === 'contactus' ? 'active' : '' %>"
              >Contact Us</a
            >
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
