<%- include('partials/Header') %>

<main>
  <h1>Contact Us</h1>
  <p>Feel free to reach out to us for any inquiries or feedback.</p>
  <p>Email: info@mywebsite.com</p>
  <p>Phone: +91-8356982412</p>
</main>

<%- include('partials/Footer') %>
